
.vscode
*.xml
*.iml
Curso em Video - Python/Mundo-03/Curso Python #023 - Tratamento de Erros e Exceções/desafio_115/lib/__pycache__/__init__.cpython-38.pyc
Curso em Video - Python/Mundo-03/Curso Python #023 - Tratamento de Erros e Exceções/desafio_115/lib/arquivo/__pycache__/__init__.cpython-38.pyc
venv
*.exe
